
.cart-total {
  width: 100%;
  padding: 10px 0;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.cart-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-row {
  font-weight: bold;
}
